<a href="https://colab.research.google.com/github/Sir-Tobias/Python-practice-DataScience/blob/master/DT354DataScience3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is used to label your code**
hello world example

*   Hello world example
*   Valuable assignment

In [2]:
mass = 25

volume = 5

density = mass/volume

print(density)

message = 'hello'
person = 'bob'

welcome = message + ' ' + person
print(welcome)

5.0
hello bob

Type Example

In [7]:
isTodaySunday = False

print(type(isTodaySunday)) # bool

value_str = "25"

print(type(value_str))
print(type(int(value_str))) # forced type int because the value "25" can also be converted to an int

<class 'bool'>
<class 'str'>
<class 'int'>

Help command syntax


*   Put a question mark infront of anything you dont understand
*   ?len


*   ?type
*   ?print

In [9]:
?len

?type

?print

Python Lists

In [14]:
a = "is"
b = 2

my_list = ["my_list", a, b]
list_of_lists = [ my_list,[4,5]]
list_of_different_items = [my_list,[4,5],8]
print("list_of_different_items[0] .7", list_of_different_items[0])
print("list_of_different_items[1] .8", list_of_different_items[1])
print("list_of_different_items[2].9", list_of_different_items[2])
print("list_of_different_items[-1].10", list_of_different_items[-1])
print("list_of_different_items len .11", len(list_of_different_items))

list_of_different_items[0] .7 ['my_list', 'is', 2]
list_of_different_items[1] .8 [4, 5]
list_of_different_items[2].9 8
list_of_different_items[-1].10 8
list_of_different_items len .11 3

ASK GOOGLE EXAMPLE

In [21]:
town = "Dublin and Derry"
print(town.lower())
print(town.lower().count('d'))

dublin and derry
3

Packages & Import

In [ ]:
import math

print(math.sqrt(4))

from math import sin #You can import a specific function from the math libary
print(sin(90))

import math as m# Import as M because you do not have to type math each time
print(m.sin(90))

Logic

In [ ]:
print(True == False)
print(2*8! = -8)

print('Ireland' == 'ireland')
print(False == 0)

Control Flow

In [28]:
if 9 > 10:
    print("9 is greater than 10")
elif 9 == 10:
    print("9 is equal to 10")
else:
    print("9 is lesser than 10")

9 is lesser than 10